In [1]:
import pandas as pd

1. Data Cleaning

In [2]:
df_historical_data = pd.read_csv('uefa_euro_historical_data.csv')
df_fixture = pd.read_csv('uefa_euro_fixtures.csv')

1.1 Cleaning df_fixture

In [3]:
df_fixture['home'] = df_fixture['home'].str.strip()
df_fixture['away'] = df_fixture['away'].str.strip()

1.2 Cleaning df_historical_data

In [4]:
#removing (a.e.t) from score column
df_historical_data['score'] = df_historical_data['score'].str.replace('[^\\d–]', '', regex = True)

#cleaning score and home/away columns
df_historical_data ['home'] = df_historical_data['home'].str.strip()
df_historical_data ['away'] = df_historical_data['away'].str.strip()

#cleaning score and home/away columns
df_historical_data ['home'] = df_historical_data['home'].str.strip()
df_historical_data ['away'] = df_historical_data['away'].str.strip()

#Splitting the score column into Home and Away goals
df_historical_data[['HomeGoals', 'AwayGoals']] = df_historical_data['score'].str.split('–', expand=True)

#Deleting score column
df_historical_data.drop('score', axis=1, inplace=True)

#Renaming columns and changing data types
df_historical_data.rename(columns = {'home': 'HomeTeam', 'away': 'AwayTeam', 'year': 'Year'}, inplace = True)
df_historical_data = df_historical_data.astype({'HomeGoals': int, 'AwayGoals':int, 'Year': int})

#Creating a new column 'TotalGoals'
df_historical_data['TotalGoals'] = df_historical_data['HomeGoals'] + df_historical_data['AwayGoals']
df_historical_data

           HomeTeam      AwayTeam  Year  HomeGoals  AwayGoals  TotalGoals
0            France    Yugoslavia  1960          4          5           9
1    Czechoslovakia  Soviet Union  1960          0          3           3
2    Czechoslovakia        France  1960          2          0           2
3      Soviet Union    Yugoslavia  1960          2          1           3
4             Spain       Hungary  1964          2          1           3
..              ...           ...   ...        ...        ...         ...
332  Czech Republic       Denmark  2020          1          2           3
333         Ukraine       England  2020          0          4           4
334           Italy         Spain  2020          1          1           2
335         England       Denmark  2020          2          1           3
336           Italy       England  2020          1          1           2

[337 rows x 6 columns]

Exporting the clean DataFrames

In [5]:
df_historical_data.to_csv('clean_uefa_euro_matches.csv', index = False)
df_fixture.to_csv('clean_uefa_euro_fixtures.csv', index = False)

Final Verification

In [6]:
years = [1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020]

for year in years:
    print(year, len(df_historical_data[df_historical_data['Year'] == year]))

1960 4
1964 4
1968 5
1972 4
1976 4
1980 14
1984 15
1988 15
1992 15
1996 31
2000 31
2004 31
2008 31
2012 31
2016 51
2020 51