Fifa Euro 2024

In [53]:
import pandas as pd # type: ignore
from string import ascii_uppercase as alphabet
import pickle

all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

In [56]:
all_tables[18]
all_tables[25]
all_tables[32]

,Pos,Teamvte,Pld,W,D,L,GF,GA,GD,Pts,Qualification
0,1,Slovenia,0,0,0,0,0,0,0,0,Advance to knockout stage
1,2,Denmark,0,0,0,0,0,0,0,0,Advance to knockout stage
2,3,Serbia,0,0,0,0,0,0,0,0,Possible knockout stage based on ranking
3,4,England,0,0,0,0,0,0,0,0,NaN

In [58]:
# A -> F
# 18 -> 7*6 + 11 = 53
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')
for i in range(18,57,7):
    print(i)
    df = all_tables[i]
    df.rename(columns={df.columns[1]:'Team'}, inplace=True)
    df.pop('Qualification')
#     print(df)

18
25
32
39
46
53

In [69]:
print(alphabet)

ABCDEFGHIJKLMNOPQRSTUVWXYZ

In [70]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/UEFA_Euro_2024')

dict_table = {}
for letter, i in zip(alphabet, range( 18, 67, 7)):
    df.rename(columns = {df.columns[1]: 'Team'}, inplace = True)
    df = all_tables[i]
    df.pop('Qualification')
    dict_table[f'Group {letter}'] = df

In [76]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output)